
{% if repos %}
{% ifequal owner user %} 
<h2>Your repositories</h2>
{% endifequal %}

{% ifnotequal owner user %} 
<h2>{{ owner.username }}&apos;s Repositories</h2>
{% endifnotequal %}
<ul>
    {% for repo in repos %}
    <li><a href="{% url repo_view owner.username repo.name %}">{{ owner.username }}/{{ repo.name }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>You have no git repositories! You should create one</p>
{% endif %}

{% if colab %}
{% ifequal owner user %} 
<h2>Your collaborations</h2>
{% endifequal %}

{% ifnotequal owner user %} 
<h2>Your collaborations with {{ owner.username }}</h2>
{% endifnotequal %}
<ul>
    {% for repo in colab %}
    <li><a href="{% url repo_view repo.owner.username repo.name %}">{{ repo.owner.username }}/{{ repo.name }}</a></li>
    {% endfor %}
</ul>
{% endif %}

{% ifequal owner user %}
<h2>New Repo?</h2>
<form action="{% url repo_add user.username %}" method="post">
    {% csrf_token %}
    <label for="repo_name">Repo name:</label>
    <input name="repo_name" />
    <input type="submit" value="Create" />
</form>
{% endifequal %}

<a href="{% url user_settings %}">Edit Settings</a>

