{% extends "repo_manage/repo_nav.html" %}
{% block title %}Viewing {{ repo.name }} {% endblock %}

{%block repo_access %}active{%endblock%}

{% block inner_content %}
<div id="repo_access">
    {% if owners %}
    <h2>Who has what access to this repository</h2>
    <h3>The owners of the repository</h3>
        <ul>
        {% for c in owners %}
        {% if c.get_full_name %}
            <li><a href="{% url repo_list c.username %}">{{ c.get_full_name }}</a></li>
        {% else %}
            <li><a href="{% url repo_list c.username %}">{{ c.username }}</a></li>
        {% endif %}
        {% endfor %}
        </ul>
    {% endif %}
    {% if writers %}
    <h3>People with write access</h3>
        <ul>
        {% for c in writers %}
        {% if c.get_full_name %}
            <li><a href="{% url repo_list c.username %}">{{ c.get_full_name }}</a></li>
        {% else %}
            <li><a href="{% url repo_list c.username %}">{{ c.username }}</a></li>
        {% endif %}
        {% endfor %}
        </ul>
    {% endif %}
    {% if readers %}
    <h3>People with read-only access</h3>
        <ul>
        {% for c in readers %}
        {% if c.get_full_name %}
            <li><a href="{% url repo_list c.username %}">{{ c.get_full_name }}</a></li>
        {% else %}
            <li><a href="{% url repo_list c.username %}">{{ c.username }}</a></li>
        {% endif %}
        {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}
