{% extends "base.html" %}

{% block title %}Listing {{ user.get_full_name }}&apos;s Repositories{% endblock %}


{% block content %}

{% ifequal owner user %} 
<h2>Your repositories</h2>
{% endifequal %}

{% ifnotequal owner user %} 
<h2>{{ owner.get_full_name }}&apos;s Repositories</h2>
{% endifnotequal %}

{% if repos %}
<ul>
    {% for repo in repos %}
    <li>
    <a href="{% url repo_view owner.username repo.name %}">{{ repo.name }}</a> &mdash; {{ repo.description }}</li>
    {% endfor %}
</ul>
{% else %}
{% ifequal owner user %}
    <p>You have no git repositories! You should create one</p>
{% endifequal %}
{% ifnotequal owner user %}
    <p>{{ owner.get_full_name }} has no git repositores!</p>
{% endifnotequal %}
{% endif %}

{% if colab %}
{% ifequal owner user %} 
<h2>Your collaborations</h2>
{% endifequal %}

{% ifnotequal owner user %} 
<h2>Your collaborations with {{ owner.username }}</h2>
{% endifnotequal %}
<ul>
    {% for repo in colab %}
    <li><a href="{% url repo_view repo.owner.username repo.name %}">{{ repo.owner.username }}/{{ repo.name }}</a>
    &mdash; {{ repo.description }}</li>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>You've never collaborated with {{ owner.get_full_name }}</p>
{% endif %}

{% endblock %}
