{% extends "base.html" %}

{% load markup %}

{% block title %}Viewing {{ repo.name }} {% endblock %}

{% block content %}
{% if repo %}
    <h1>{{ repo.name }}</h1>
    <h2>by <a href="{% url repo_list owner.username %}">{{ owner.get_full_name }}</a></h2>
    <h3>{{ repo.description }}</h3>
    <p>{{ repo.long_description|markdown:"safe" }}</p>
    {% if collaborators %}
    <h2>Collaborators</h2>
        <ul>
        {% for c in collaborators %}
            <li><a href="{% url repo_list c.username %}">{{ c.get_full_name }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
    <div class="row">
    {% if can_view %}
        <form class="span" method="get" action="{% url repo_browse owner.username repo.name %}"><button class="btn btn-primary" type="submit"><i class="icon-eye-open icon-white"></i> View</button></form>
    {% endif %}
    {% ifequal user owner %}
        <form class="span" method="get" action="{% url repo_edit owner.username repo.name %}"><button class="btn" type="submit"><i class="icon-edit"></i> Edit</button></form>
        <form class="span" method="post" action="{% url repo_delete owner.username repo.name %}">{% csrf_token %}<button class="btn btn-danger" type="submit"><i class="icon-remove icon-white"></i> Delete</button></form>
    {% endifequal %}
    </div>
{% else %}
    <p>There was a problem</p>
{% endif %}

{% endblock %}
