{% extends "base.html" %}

{% load markup %}

{% block title %}Viewing {{ repo.name }} {% endblock %}

{% block content %}
{% if repo %}
    <h1>{{ repo.name }} &mdash; {{ repo.description }}</h1>
    <h3>by <a href="{% url repo_list owner.username %}">{{ owner.get_full_name }}</a></h3>
    {% if can_see or can_edit %}
    <h3>Clone this repository</h3>
    {% if can_edit %}
    <pre>git clone {{ repo.get_clone_url }}</pre>
    {% else %}
    <pre>git clone {{ repo.get_public_clone_url }}</pre>
    {% endif %}
    {% endif %}
    <p>{{ repo.long_description|markdown:"safe" }}</p>
    {% if collaborators %}
    <h2>Collaborators</h2>
        <ul>
        {% for c in collaborators %}
            <li><a href="{% url repo_list c.username %}">{{ c.get_full_name }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
    <div class="row">
    {% if can_see %}
        <a class="span" href="{% url repo_browse owner.username repo.name %}"><button class="btn btn-primary" type="submit"><i class="icon-eye-open icon-white"></i> View</button></a>
    {% endif %}
    {% ifequal user owner %}
        <a class="span" href="{% url repo_edit owner.username repo.name %}"><button class="btn" type="submit"><i class="icon-edit"></i> Edit</button></a>
        <!--<form class="span" method="post" action="{% url repo_delete owner.username repo.name %}">{% csrf_token %}<button class="btn btn-danger" type="submit"><i class="icon-remove icon-white"></i> Delete</button></form>-->
    {% endifequal %}
    </div>
{% else %}
    <p>This doesn't seem to exist, or something else went wrong</p>
{% endif %}

{% endblock %}
