{% extends "repo_manage/repo_nav.html" %}

{% block title %}Editing {{ repo.name }}{% endblock %}

{% block repo_settings %}active{%endblock%}
{% block inner_content %}

{% if new_form %}
<h1>New Repo</h1>
{% else %}
<h1>Edit Repo &mdash; {{ repo.name }}</h1>
{% endif %}

{% if new_form %}
    <form class="form form-inline" action="{% url repo_new %}" method="post">
{% else %}
    <form class="form form-inline" action="{% url repo_edit owner.username repo.name %}" method="post">
{% endif %}
    {% csrf_token %}
    {% if new_form %}
    {% for field in new_form.visible_fields %}
        {% if field.errors %}
        <div class="control-group error">
        {% else %}
        <div class="control-group">
        {% endif %}
        <label class="control-lable" for="{{ field.html_name}}">{{ field.label }}</label>
        <div class="controls">
            {{ field }}
            {% if field.errors %}
            <span class="help-inline">{{ field.errors }}</span>
            {% endif %}
        </div>
        </div>
    {% endfor %}
    {% endif %}

    {% for field in form.visible_fields %}
        {% if field.errors %}
        <div class="control-group error">
        {% else %}
        <div class="control-group">
        {% endif %}
            <label class="control-lable" for="{{ field.html_name}}">{{ field.label }}</label>
            <div class="controls">
                {{ field }}
                {% if field.errors %}
                <span class="help-inline">{{ field.errors }}</span>
                {% endif %}
            </div>
        </div>
    {% endfor %}

    {% if colab %}
    {{ colab.management_form }}
    <table class="table table-striped">
        <thead><tr>
        <th>Username</th>
        <th>Permission</th>
        <th>Remove Access</th>
    </tr></thead>
    <tbody>
    {% if colab.errors %}
        <tr class="error">
            <td colspan=3>
                Double check that the username you entered is correct and has logged into the site, and that you aren't
                adding the same user twice.
            </td>
        </tr>
    {% endif %}
    {% for c in colab %}
        <!--<div class="row">-->
        {% if c.errors %}
            <tr class="error">
        {% else %}
            <tr>
        {% endif %}
        {{ c.id }}
        <td><input type="text" autocomplete="off" name="{{ c.user.html_name }}" {% if c.user.value %}value="{{ c.user.value }}"{%endif%} id="id_{{c.user.html_name}}" class="user-complete" /></td>
        <td>{{ c.permission }}</td>
        <td>{{ c.DELETE }}</td>
        </tr>
        <!--</div>      -->
    {% endfor %}
    </tbody>
    </table>
    {% endif %}

    <div class="row">
        <button class="span btn btn-primary" type="submit"><i class="icon-ok icon-white"></i> Update</button>
    </div>
</form>

{% if not new_form %}
<form class="form-inline" method="post" action="{% url repo_delete owner.username repo.name %}">{% csrf_token %}<button class="btn btn-link" type="submit">Delete</button></form>
{% endif %}


{% endblock %}

{% block end %}
<script>
$(".user-complete").typeahead({
    source: function(query, process) {
        $.ajax({
            type:"GET",
            url:'{% url user_complete %}',
            data:{query:query}
        }).done(function(users) {
            process(users);
        });
    },
    minLength: 2
});
</script>
{% endblock %}

