{% extends "repo_manage/repo_nav.html" %}

{% block title %}Browsing {{repo.name}}{% endblock %}

{% block head %}<link rel="stylesheet" media="screen" href="/static/css/cgit.css" /> {% endblock %}
{% block style %}
<style>
div#cgit div.content {padding: 0;}
div#cgit .tabs, div#cgit .path {display:none;}
div#cgit div.content {border-bottom: 0;}
div#cgit table.blob {border-top: 0; padding: 0; width:100%;}
div#cgit table.blob td.linenumbers { border-right: 0; padding: 0; }
div#cgit table.blob td.lines {  padding: 0; padding-left: .1em;}
div#cgit table.blob td.linenumbers pre {font-size: 12px; word-break:normal;}
div#cgit table.blob td.lines pre {font-size: 12px;}
div#cgit table.blob pre {padding: .5em;}
</style>
{% endblock %}
{% block repo_browse %}active{%endblock%}


{% block inner_content %}

<div id='cgit-nav'>
        <ul class="nav nav-tabs">
            <li class="{% ifequal method "summary" %}active{%endifequal%}">
            <a href="{% url repo_browse owner.username repo.name %}">Summary</a>
            </li>

            <li class="{% ifequal method "refs" %}active{%endifequal%}">
            <a href="{% url repo_browse owner.username repo.name %}refs/">Refs</a>
            </li>

            <li class="{% ifequal method "log" %}active{%endifequal%}">
            <a href="{% url repo_browse owner.username repo.name %}log/">Log</a>
            </li>

            {% if id %}
            <li class="{% ifequal method "tree" %}active{%endifequal%}">
            <a href="{% url repo_browse owner.username repo.name %}tree/?id={{ id }}">Tree</a>
            </li>

            <li class="{% ifequal method "commit" %}active{%endifequal%}">
            <a href="{% url repo_browse owner.username repo.name %}commit/?id={{ id }}">Commit</a>
            </li>

            <li class="{% ifequal method "diff" %}active{%endifequal%}">
            <a href="{% url repo_browse owner.username repo.name %}diff/?id={{ id }}">Diff</a>
            </li>
            {% else %}
            <li class="{% ifequal method "tree" %}active{%endifequal%}">
            <a href="{% url repo_browse owner.username repo.name %}tree/">Tree</a>
            </li>

            <li class="{% ifequal method "commit" %}active{%endifequal%}">
            <a href="{% url repo_browse owner.username repo.name %}commit/">Commit</a>
            </li>

            <li class="{% ifequal method "diff" %}active{%endifequal%}">
            <a href="{% url repo_browse owner.username repo.name %}diff/">Diff</a>
            </li>
            {% endif %}

            <li class="{% ifequal method "stats" %}active{%endifequal%}">
            <a href="{% url repo_browse owner.username repo.name %}stats/">Stats</a>
            </li>
        <form class="form form-search navbar-form pull-right" method="GET" action="{% url repo_browse owner.username repo.name %}log/">
            <input type="hidden" id="search_type" name="qt" value="{{ qtype }}" />
            <div class="input-prepend">
                <div class="btn-group">
                    <button type="button" class="btn span2 dropdown-toggle" data-toggle="dropdown"><span id="search_message">{{ search_text }}</span> <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li onclick="$('#search_type').val('grep');$('#search_message').html('Log Message');"><a>Log Message</a></li>
                        <li onclick="$('#search_type').val('author');$('#search_message').html('Author');"><a>Author</a></li>
                        <li onclick="$('#search_type').val('committer');$('#search_message').html('Committer');"><a>Committer</a></li>
                        <li onclick="$('#search_type').val('range');$('#search_message').html('Range');"><a>Range</a></li>
                    </ul>
                </div>
                <input class="search-query span3" placeholder="Search" type="text" name="q" value="{{ q }}" />
            </div>
        </form>
        </ul>
</div>

{% if file_path %}
<div id='file-path'>
    <ul class='breadcrumb'>
        <li><a href="{% url repo_browse owner.username repo.name %}tree">Root</a></li>
        {% for f in file_path|slice:":-1" %}
        {% with name=f.0 path=f.1 %}
        <li><span class="divider">/</span><a href="{% url repo_browse owner.username repo.name %}tree/{{path}}">{{name}}</a></li>
        {% endwith %}
        {% endfor %}
        {% with final=file_path|last %}
        <li class="active"><span class="divider">/</span>{{ final.0 }}</li>
        {% endwith %}
    </ul>
</div>
{% endif %}
{% autoescape off %}
    {{ repo_html }}
{% endautoescape %}

{% block end %}<script>$('.pager').insertAfter('#cgit');</script>{% endblock %}

{% endblock %}
