{% extends "repo_manage/repo_nav.html" %}

{% block title %}Browsing {{repo.name}}{% endblock %}

{% block head %}<link rel="stylesheet" media="screen" href="/static/css/cgit.css" /> {% endblock %}
{% block style %}
<style>
.tabs {display:none;}
div#cgit div.content {border-bottom: 0;}
</style>
{% endblock %}
{% block repo_browse %}active{%endblock%}


{% block inner_content %}

<ul class="nav nav-tabs">
    <li class="{% ifequal method "summary" %}active{%endifequal%}">
        <a href="{% url repo_browse owner.username repo.name %}">Summary</a>
    </li>

    <li class="{% ifequal method "refs" %}active{%endifequal%}">
        <a href="{% url repo_browse owner.username repo.name %}refs/">Refs</a>
    </li>

    <li class="{% ifequal method "log" %}active{%endifequal%}">
        <a href="{% url repo_browse owner.username repo.name %}log/">Log</a>
    </li>

    {% if id %}
        <li class="{% ifequal method "tree" %}active{%endifequal%}">
            <a href="{% url repo_browse owner.username repo.name %}tree/?id={{ id }}">Tree</a>
        </li>

        <li class="{% ifequal method "commit" %}active{%endifequal%}">
            <a href="{% url repo_browse owner.username repo.name %}commit/?id={{ id }}">Commit</a>
        </li>

        <li class="{% ifequal method "diff" %}active{%endifequal%}">
            <a href="{% url repo_browse owner.username repo.name %}diff/?id={{ id }}">Diff</a>
        </li>
    {% else %}
        <li class="{% ifequal method "tree" %}active{%endifequal%}">
            <a href="{% url repo_browse owner.username repo.name %}tree/">Tree</a>
        </li>

        <li class="{% ifequal method "commit" %}active{%endifequal%}">
            <a href="{% url repo_browse owner.username repo.name %}commit/">Commit</a>
        </li>

        <li class="{% ifequal method "diff" %}active{%endifequal%}">
            <a href="{% url repo_browse owner.username repo.name %}diff/">Diff</a>
        </li>
    {% endif %}

    <li class="{% ifequal method "stats" %}active{%endifequal%}">
        <a href="{% url repo_browse owner.username repo.name %}stats/">Stats</a>
    </li>
</ul>
{% autoescape off %}
    {{ repo_html }}
{% endautoescape %}

{% endblock %}
