{% extends "base.html" %}

{% block title %}Edit Public Key{% endblock %}

{% block content %}

{% if pk %}
<h1>Edit You Public Key</h1>
{% else %}
<h1>Add New Public Key</h1>
<div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Quick Tip!</h4>
    <p>Your public keys are what control your access to your repositories.</p>
    <p>You can create a key by running <code>ssh-keygen</code> from the computer
    you plan on using git from. Enter a secure password when prompted. This will
    create a pair of files called  <code>id_rsa</code> and <code>id_rsa.pub</code>
    in <code>~/.ssh</code>. Copy the contents of <code>id_rsa.pub</code> into the
    Pubkey field below. The description should describe the computer or set of
    computers you plan on using this key from.</p>

    <p>After adding a new key, you should verify that the fingerprint shown matches
    the actual fingerprint for your key to make sure it was copied correctly.</p>
</div>

{% endif %}
{% if pk %}
    <form action="{% url pubkey_edit pk.id %}" method="post">
{% else %}
    <form action="{% url pubkey_add %}" method="post">
{% endif %}
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form.visible_fields %}
        {% if field.errors %}
        <div class="control-group error">
        {% else %}
        <div class="control-group">
        {% endif %}
        <label class="control-lable" for="{{ field.html_name}}">{{ field.label }}</label>
        <div class="controls">
            {{ field }}
            {% if field.errors %}
            <span class="help-inline">{{ field.errors }}</span>
            {% endif %}
        </div>
        </div>
    {% endfor %}
    <button class="btn btn-primary" type="submit"><i class="icon-ok icon-white"></i> Update</button>
</form>
{% if pk %}
<form method="post" action="{% url pubkey_delete pk.id %}">{% csrf_token %}<button class="btn btn-link" type="submit">Delete</button></form>
{% endif %}

{% endblock %}
